---
---

%section#amics-del-ball
  %h1 Amics del Ball de Riumors
  %p
    Som una escola de ball situada al poble de Riumors, Alt Empordà.
  %p
    Organitzem classes per 
    = succeed "." do
      %strong grups i individuals
    Aprèn a ballar el 
    = succeed "," do 
      = link_to "tango", "http://ca.wikipedia.org/wiki/tango"
    = succeed "," do 
      = link_to "pasdoble", "http://ca.wikipedia.org/wiki/pasdoble"
    = succeed "," do 
      = link_to "txa-txa-txa", "http://ca.wikipedia.org/wiki/txa-txa-txa"
    = succeed "," do 
      = link_to "vals", "http://ca.wikipedia.org/wiki/vals"
    = succeed "," do 
      = link_to "bachata", "http://ca.wikipedia.org/wiki/bachata"
    = succeed "," do 
      = link_to "merengue", "http://ca.wikipedia.org/wiki/merengue"
    = succeed "," do 
      = link_to "rock", "http://ca.wikipedia.org/wiki/rock"
    = link_to "country", "http://ca.wikipedia.org/wiki/country"
    i molts més.
  %p
    Posa't en 
    = link_to "contacte", "/#contacte"
    amb nosaltres per concretar els horaris i preus de les classes.

  %p.video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "700", :src => "http://www.youtube.com/embed/1FhCZVDDUJs", :width => "500"}

%section#com-arribar
  %h2 Com arribar?
  %p
    %iframe{:frameborder => "0", :height => "450", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.es/maps?f=q&source=s_q&hl=ca&geocode=&q=2,+carrer+sant+isidre,+Riumors+(Girona)&aq=&sll=42.226157,3.041551&sspn=0.006618,0.013937&g=3,+carrer+sant+isidre,+Riumors&ie=UTF8&hq=&hnear=Carrer+Sant+Isidre,+2,+17469+Riumors,+Girona,+Catalunya&ll=42.255158,3.04155&spn=0.211779,0.445976&z=9&output=embed", :width => "100%"}
    /%br
    /%small
    /  %a{:href => "http://maps.google.es/maps?f=q&source=embed&hl=ca&geocode=&q=2,+carrer+sant+isidre,+Riumors+(Girona)&aq=&sll=42.226157,3.041551&sspn=0.006618,0.013937&g=3,+carrer+sant+isidre,+Riumors&ie=UTF8&hq=&hnear=Carrer+Sant+Isidre,+2,+17469+Riumors,+Girona,+Catalunya&ll=42.226158,3.04155&spn=0.211779,0.445976&z=12", :style => "color:#0000FF;text-align:left"} Mostra un mapa més gran

%section#contacte
  %h2 Contacte
  %p
    %ul
      %li
        %a{:href => "mailto:info@amicsdelball.cat"} info@amicsdelball.cat
      %li 669 469 330 (Josep)
      %li 646 105 321 (Carme)

